html{
  height: 100vh;
	width: 100vw;
}

body {
	background-color:#2f292b;
	overflow-x: hidden;
	min-height: 98vh;
	min-width: 99vw;
	position: absolute;
}

/* ---------------------------------------------- /*
 * hound trace page
/* ---------------------------------------------- */

.head-div {
	margin: 3vh 0 12vh 0;
	position: relative;
}

.title-div {
	margin: 1vh 0 2vh 0 !important;
	position: relative;
}

.title-text {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 46px;
	font-weight: 100;
	line-height: 50px;
	letter-spacing: 1px;
}

.list-text {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 50px;
	letter-spacing: 1px;
}

.logo-div {
	width: 300px;
	position: relative;
}

.body-div {
	margin: 0 0 24vh 0;
	position: relative;
}

.intro-div {
	margin: 2vh 0 3vh 0;
	position: relative;
	text-align: center;
}

.query-div {
	height: 40px;
	margin: 1vh 0 1vh 0;
	position: relative;
}

.footer-div {
	position: relative;
	/*bottom: 0;*/
}

.counter-div {
	margin: 1vh 0 3vh 0;
	position: relative;
	text-align: center;
}

.sherlock-div {
	width: 75px;
	margin: 1vh 0 0 0;
	position: relative;
}


/* ---------------------------------------------- /*
 * hound name page
/* ---------------------------------------------- */

.name-head {
	height: 35vh;
	width: 100vw;
	position: relative;
	text-align: center;
}

.name-info {
	height: 30vh;
	width: 75vw;
	position: relative;
	text-align: center;
}

.name-buttons {
	height: 5vh;
	width: 75vw;
	position: relative;
	text-align: center;
}

.name-body {
	min-height: 80vh;
	width: 90vw;
	position: relative;
}

.name-results {
	width: 90vw;
	position: relative;
	overflow: auto;
}

.hacker-cyan {
	color: #28b0b7 !important;
}

.cent-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered-msg {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-cent {
	position: relative;
	text-align: center;
}

.hor-cent {
	left: 50%;
	transform: translate(-50%, 0%);
}
