html{
  height: 100vh;
}

body {
	background-color:#2f292b;
	overflow-x: hidden;
	min-height: 98vh;
}

.main-div {
	height: 95vh;
	width: 75vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.head-div {
	height: 50vh;
	width: 75vw;
	margin: 0 0 5vh 0;
	position: relative;
}

.title-div {
	margin: 1vh 0 0 0 !important;
	height: 9vh;
	width: 75vw;
	position: relative;
}

.title-text {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 46px;
	font-weight: 100;
	line-height: 50px;
	letter-spacing: 1px;
}

.logo-div {
	height: 300px;
	width: 300px;
	position: relative;
}

.body-div {
	height: 16vh;
	width: 75vw;
	margin: 0 0 11vh 0;
	position: relative;
}

.intro-div {
	height: 4vh;
	width: 75vw;
	margin: 2vh 0 2vh 0;
	position: relative;
	text-align: center;
}

.query-div {
	height: 40px;
	margin: 10px 0 10px 0;
	position: relative;
}

.footer-div {
	height: 14vh;
	width: 75vw;
	position: relative;
	bottom: 0;
}

.counter-div {
	height: 2vh;
	width: 75vw;
	margin: 1vh 0 2.5vh 0;
	position: relative;
	text-align: center;
}

.sherlock-div {
	height: 10vh;
	width: 10vw;
	margin: 1vh 0 0 0;
	position: relative;
}

.sherlock-logo {
	height: 71px;
	width: 75px;
}

.hacker-cyan {
	color: #28b0b7 !important;
}

.cent-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.centered-msg {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.text-cent {
	position: relative;
	text-align: center;
}

.hor-cent {
	left: 50%;
	transform: translate(-50%, 0%);
}
