{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hound Trace</title>
</head>
<body>
<h3>WebHound: Unleash your inner hacker and trace any username across the web!</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Send message">
    </form>
<h2></h2>
<a href="https://github.com/sherlock-project/sherlock" target="_blank">
    <img id="poweredby" src="{% static 'WebHoundApp/images/powered_by.jpg' %}" alt="Powered by Sherlock" width=150>
</a>

<p> Hounds made {{ traces_cnt }} successful traces so far </p>
</body>
</html>