{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hound Trace</title>

    <link href="{% static 'WebHoundApp/css/style.css' %}" rel="stylesheet" media="screen">
</head>
<body>
    <div class="main-div">
        <div class="head-div hor-cent">
            <div class="title-div">
                <h3 class="hacker-cyan text-cent">WebHound</h3>
            </div>
            <div class="logo-div">
                <a href="{% url 'WebHoundApp:hound_trace' %}">
                    <img id="webhlogo" src="{% static 'WebHoundApp/images/logo_resized.png' %}" width=300>
                </a>
            </div>
        </div>

        <div class="body-div hor-cent">
            <div class="intro-div hacker-cyan hor-cent">
                Unleash your inner hacker and trace any username across the web!
            </div>
            <div class="query-div">
                <form class="centered-div" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                </form>
            </div>
        </div>

        <div class="footer-div hor-cent">
            <div class="counter-div hacker-cyan">
                Hounds made {{ traces_cnt }} successful traces so far
            </div>
            <div class="sherlock-div">
                <a class="sherlock-logo centered-div" href="https://github.com/sherlock-project/sherlock" target="_blank">
                    <img id="poweredby" src="{% static 'WebHoundApp/images/powered_by.jpg' %}" alt="Powered by Sherlock" width=150>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
